body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size-adjust: 5rem;
  line-height: 1.7;
  color: #333333;
  padding: 3rem;
  background: url("../img/cork-board.png");
  font-family: "Permanent Marker", cursive; }

.show-modal {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/cork-board.png"); }

.header {
  position: relative;
  text-align: center;
  background-image: url("../img/old_mathematics_@2X.png");
  padding: 5px;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, 0%);
  height: auto;
  margin-bottom: 5rem;
  border-radius: 1px;
  box-shadow: inset 0 0 5px 0 #333; }

.day1 {
  position: relative;
  background-image: url("../img/linedpaper_@2x.png");
  width: 95%;
  left: 3%;
  height: 60vh;
  text-align: center;
  box-shadow: inset 0 0 3px 0 #333; }

.title {
  font-size: 3.4rem; }

.day1:hover {
  animation: float 1s forwards; }

@keyframes float {
  0% {
    transform: translateY(0px);
    box-shadow: 0 0 0 0 #333333, inset 0 0 3px 0 #333; }
  100% {
    transform: translateY(-4px);
    box-shadow: 0 3px 6px 3px #333333, inset 0 0 2px 0 #333; } }

.day1 .button {
  position: relative;
  background: url(../img/sandpaper.png);
  width: fit-content;
  height: auto;
  padding: 6px;
  border-radius: 0.8rem;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #5a5a5a; }

.day1 .button:hover {
  color: #ffffff;
  transform: translateY(-1px);
  box-shadow: 0 1px 2px 1px #646464;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(../img/sandpaper.png); }

.modal {
  position: relative;
  padding: 20px 18px;
  display: none;
  background: url(../img/paper_2_@2X.png);
  border-radius: 10px;
  height: auto;
  text-align: center;
  top: -40vh;
  width: 80%;
  left: 9%;
  animation: appear 1s forwards;
  box-shadow: 0 5px 10px 0 #333;
  font-size: 2rem; }

.modal span {
  position: relative;
  text-align: right;
  justify-content: right;
  float: right; }

.close:hover {
  cursor: pointer;
  color: #ffffff; }

@keyframes appear {
  0% {
    transform: translateY(-300px);
    opacity: 0; }
  100% {
    transform: translateY(-50px);
    opacity: 1; } }

.day2 {
  position: relative;
  background-image: url("../img/linedpaper_@2x.png");
  width: 95%;
  left: 3%;
  height: 80vh;
  margin-top: 9rem;
  text-align: center;
  box-shadow: inset 0 0 3px 0 #333; }

.day2:hover {
  animation: float 1s forwards; }

.day2-title {
  font-size: 1.5rem;
  font-weight: bold; }

.day2 .gif-container {
  margin-top: 3rem;
  margin-bottom: 5rem; }

.day2 .button {
  position: relative;
  background: url(../img/sandpaper.png);
  width: fit-content;
  height: auto;
  padding: 6px;
  border-radius: 0.8rem;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #5a5a5a; }

.day2 .button:hover {
  color: #ffffff;
  transform: translateY(-1px);
  box-shadow: 0 1px 2px 1px #646464;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(../img/sandpaper.png); }

.input-box {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0%); }

.day2 input {
  border: none;
  outline: none;
  border-bottom: 3px solid #9b9b9b;
  margin: 0 0 1rem 0;
  height: 2rem;
  font-family: "Permanent Marker", cursive;
  text-align: center; }

.gif-container img {
  margin: 0; }
